<img src="{{ahorcado1}}" *ngIf="errores_restantes == 7" class="rounded mx-auto d-block"/>
<img src="{{ahorcado2}}" *ngIf="errores_restantes == 6" class="rounded mx-auto d-block"/>
<img src="{{ahorcado3}}" *ngIf="errores_restantes == 5" class="rounded mx-auto d-block"/>
<img src="{{ahorcado4}}" *ngIf="errores_restantes == 4" class="rounded mx-auto d-block"/>
<img src="{{ahorcado5}}" *ngIf="errores_restantes == 3" class="rounded mx-auto d-block"/>
<img src="{{ahorcado6}}" *ngIf="errores_restantes == 2" class="rounded mx-auto d-block"/>
<img src="{{ahorcado7}}" *ngIf="errores_restantes == 1" class="rounded mx-auto d-block"/>
<h3 class="errores_restantes">Errores restantes: {{errores_restantes}}.</h3>