<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{noticia.img}}" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
            <h5>{{noticia.titulo}}</h5>
            <p>{{noticia.descripcion}}</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" (click)="anterior()" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" (click)="siguiente()" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
  </div>